
	
	#img-a, div {
		position: relative;
	}
	#img-b {
		position: absolute;
	}
	#img-b.overlay {
		left: 0px;
		transition: left 2s ease-in-out;
	}

	#img-b.separate {
		left: 420px;
		transition: left 2s ease-in-out;
	}

